.link-tree__button {
    display: flex;
    margin: 1rem auto;
    padding: .5rem 1rem;
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: .5s;
    font-weight: bold;
    color: var(--roxo);
    justify-content: center;
}

.link-tree__button:hover {
    transition: .5s;
    transform: scale(1.10);
}