body {
    font-family: 'roboto', sans-serif;
    background: url(../src/img/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}